@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
  font-family: outfit;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0c0b0bde;
  background-color: white;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  
}
::-webkit-scrollbar{
    display: none;
  }

.navbar{
  margin: 10px 14rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-bottom: solid #97999b;
}
.logo{
  width: 60px;
  cursor: pointer;
}
.ul_nav{
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  font-weight: 500;
}

.nav_li{
  padding-top: 0.25rem;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  cursor: pointer;
}
.nav_li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1D4ED8;
  transition: width 0.1s;
}

.nav_li:hover::after,
.nav_li.active::after {
  width: 100%;
}
.button_con{
  display: flex;
  align-items: center;
  gap: 4px ;
}
.button{
  background-color: #747bff;
  color: #ffffff;
  padding: 15px;
  border-radius: 100px;
  width: 100%;
  font-weight: lighter;
  font-size: medium;
}
.profile_container{
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.profile_img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.drop_down{
  width: 16px;
  margin-left: 5px;
}
.drop_container {
  position: absolute;
  top: 140%;
  right: 50px;
  padding: 10px 20px;              
  z-index: 999;              
  display: none;            
  background: gray;
  border-radius: 8px;
  width: 120px;
  transition: 5s ease;
}
.profile_container:hover .drop_container {
  display: block;
  overflow: hidden;
  transform:scale(1.3);
}
.drop_container_p{
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
}
.home_page{
  display: flex;
  align-items: center;
  padding: 0px;
  justify-content: center;
  flex-direction: column;

}
.header_con{
  width: 60%;
  background-color: #747bff;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 5px;
  padding: 8rem 26px 0px;
  
}
.context_con{
  padding: 40px;
  margin-bottom: 100px;
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: center;

}
.header_p{
  font-size: 40px;
  color: white;
  font-weight: bold;
  line-height: 3rem;
}
.container_2{
  color: #ffffff;
  display: flex;
  align-items: start;
  gap: 15px;
  
}
.header_p2{
  padding: 0%;
  font-weight:400;
  font-size: small;
}
.doctors_icons{
  width: 15%;
  border-radius: 30px;
}
.img_con{
  width: 100%;
  position: relative;
}
.header_img{
  width: 36%;
  position: absolute;
  bottom: 0;
  right: 100px;
  height: auto;
  border-radius: 1%;
}
.href_p{
  font-size: large;
  color: #97999b;
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 100px ;
  transition: transform 0.3s ease;
}
.href_p:hover{
  transform: scale(1.05);
}
#speciality{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  padding-top: 16px;
  color: grey;
  font-weight: 800;
}
#speciality h1{
  font-size: 2rem;
  font-weight: 600;
}
#speciality p{
  margin-top: 0;
  text-align: center;
  font-size: 0.875rem;
}
.speciality_not{
  margin: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 5px;
  width: 120%;
  text-decoration: none;
  
  
}
.speciality_img{
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.5s ease;
  font-weight: bolder;
  

}
.speciality_img:hover{
  transform: translateY(-10px);
}
.speciality_img p{
  padding: 14px;
  color: #97999b;
}
.doctors_con{
  
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  
}
.doctors_h{
  color: #97999b;
  font-weight:500;
  font-size: 2.5rem;
  margin-bottom: -10px;
}
.doctors_p{
  color: #97999b;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.doctors_pro{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}
.doctors_pro2{
  
  
  cursor: pointer;
  transition: transform 0.5s ease;
}
.doctors_pro2:hover{
  transform:translateY(-10px)

}
.doctors_pictures{
  border-radius: 10px ;
  background-color: #747bff;
  width: 100%;
  height: 24vh;
}
.con{
  display: flex;
  flex-direction: column;
  
}
.doctors_p2{
  color: #97999b;
  font-size: 20px;
  text-align: start;
  justify-content: center;
  margin-top: 0%;

}
.doctors_p3{
  color: black;
  font-weight: bolder;
  font-size: 18px;
  text-align: start;
  justify-content: center;
  margin-top: 0%;

}
.doctors_details{
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-size: large;
  color:lightgreen;
}
.active_dot{
  background-color: lightgreen;
  border: solid;
  border-radius: 80%;
}
.doctors_button{
  font-size: large;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  background-color: gray;
  color: white;
  padding: 10px ;
  border-radius: 100px ;
}
.Banner_con{
  background-color: #747bff;
  display: flex;
  padding-left: 1.5rem;
  margin-top: 9rem;
  width: 40%;
}
.Banner_img_con{
position: relative;
  
}
.Banner_wor{
  flex: 1 1 0%;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.Banner_notes{
  font-size: 2.25rem;
  color: #ffffff;
  font-weight: 600;
}
.Banner_p{
  margin-top: -33px;
}

.Banner_img{
  height: 33vh;
  position: absolute;
  bottom: 0;
  right: 0;
}
.Banner_butt{
  font-size: large;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  background-color: #ffffff;
  color: #97999b;
  padding: 10px ;
  border-radius: 100px ;
  transition: transform 0.3s ease;

}
.Banner_butt:hover{
  transform: scale(1.05);
}
.footer_Con{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 7rem;
  font-size: 1.2rem;
}
.footer_Con:hover{
  color: #ffffff;
  background-color: #747bff;
  cursor: pointer;

}
.footer_Cont{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20rem;
  text-indent: 1px;
  font-size: 1.2rem;
  
}
.footer_notes_c{
  width: 30%;
}
.footer_ul{
  font-size: large;
  font-weight: 700;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.footer_notes{
  line-height: normal;
}
.footer_pn{
  margin-bottom: 1.25rem;
  font-weight: bold;
  
}
.footer_las{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-indent: 19px;
  
}
.footer_copy{
  text-align: center;
  font-weight: lighter;
  font-size: larger;
}
.Appointment_page{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.Doctors_p{
  color: #97999b;
  font-size: larger;
  font-weight: 600;
}
.Doctors_con{
  display: flex;
  gap: 14rem;
  align-items: start;

}
.Doctors_Dash{
  flex-direction: column;
}
.Doctors_Dash_p{
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
  padding-right: 40px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.Doctors_Dash_p:hover{
  background-color: #97999b;
  transform: scale(1.1);

}
.Doc_info{
  display: flex;
  gap: 4rem;
  
}
.Doc_img_con{
  background-color:white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 50vh;
}
.Doc_notes{
  background-color: #747bff;
  border: 4px solid gray;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  max-width: 50%;
  font-size: larger;
}
.Doc_notes_p{
  font-size: 24px;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.Doc_about{
  display: flex;
  flex-direction: column;
  text-indent: 1px;
  
}
.Doc_price{
  font-weight: bold;
}
.price{
  color: red;
  font-weight: bolder;
}
.Doc_about_p{
  font-size: larger;
  font-weight: 700;
}
.Booking_slots{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.Date_Solt{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  gap: 8px;
  cursor: pointer;

}
#Date_Solts{
  color: #1e293b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: -1rem;
  border-radius: 20px;
  min-width: 90px;
  height: 90px;
  cursor: pointer;
}
.Time_Solt{
  max-width: 650px;
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  gap: 10px;

}

#Time_Solts{
  min-width: 70px;
  display: inline-block;
  cursor: pointer;
  color: #1e293b;           
  padding: 0.5rem  ;
  border-radius: 8px;
  font-size: 0.9rem;
}

.selected{
  background-color: #747bff;
  color: #ffffff;
}
.unselected{
  border: 1px solid gray;
}
.Appointment_butt{
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  background-color:#747bff;
  color: #ffffff;
  padding: 15px ;
  border-radius: 100px;
  transition: transform 0.3s ease;
}
.About_page{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.About_heading{
  text-align: center;
  color: #000000;
  font-size: large;
  font-weight: 800;
}
.About_content{
  margin-top: 0.25rem;
  display: flex;
  gap: 3rem;
}
.About_pic{
  max-width: 100%;
}
.About_paragraphs{
  max-width: 50%;
  font-size: large;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1px;
  color: #000000;
}
.Why-us_con{
  display: flex;
  gap: 2rem;
}
.Why-us_Content{
  text-align: center;
  text-indent: 1px;
  border: 1px solid gray;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform 0.5s ease;
}
.Why-us_Content:hover{
  background-color: #747bff;
  transform: translateY(-15px);

}
.Contact_content{
  margin-top: 0.25rem;
  display: flex;
  gap: 3rem;
  
}
.Contact_pic{
  max-width: 100%;
  max-height: 50vh;
}
.Contact_paragraphs{
  max-width: 50%;
  font-size: large;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1px;
  color: #000000;
}
.Contact_page{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.Contact_button{
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  background-color:#747bff;
  color: #ffffff;
  padding: 15px ;
  border-radius: 10px;
  transition: transform 0.3s ease;

}

@media (max-width: 768px) {


  .navbar {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .logo {
  display: none;
  }
  .ul_nav {
  display: flex;
  list-style: none;
  gap: 20px;
  }
  .nav_li {
  text-decoration: none;
  color: black;
  }
  .button_con {
  display: flex;
  align-items: center;
  }
  .drop_container {
  position: absolute;
  top: 100%;
  right: 20px;
  z-index: 999;
  background: grey;
  border: 1px solid #ddd;
  padding: 10px;
  display: none;
  }
  .profile_container:hover .drop_container {
  display: block;
  }
  .profile_img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
 }
 .button{
  display: none;
 }
 .drop_down{
  width: 10px;
 }
 .home_page{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
  .header_con {
    width: 100%;
    padding: 5rem 20px 0;
  }

  .header_img {
    width: 30%;
    right: 0px;
  }

  .speciality_not {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 100%;
  }
  .speciality_img {
    width: 45%;
  }

  .doctors_pro {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_Cont {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer_notes_c{
  display: none;
  }
  .Banner_con {
    flex-direction: column;
    width: 100%;
  }

  .Banner_img {
    position: static;
    width: 100%;
    height: auto;
  }

  .Banner_butt {
    width: 100%;
  }
  .Doctors_home{
    width: 100%;
  }
  .About_content,
  .Contact_content {
    flex-direction: column;
    gap: 1.5rem;
  }

  .About_paragraphs,
  .Contact_paragraphs {
    max-width: 100%;
  }
  .Why-us_con{
  flex-direction: column;
  gap: 0.6rem;
  }
  
}

@media (max-width: 640px) {

  .navbar {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  }
 
  .logo {
  display: none;
  }
  .ul_nav {
  display: flex;
  list-style: none;
  gap: 10px;
  }
   .nav_li {
  text-decoration: none;
  color: black;
  }
  .button_con {
  display: flex;
  align-items: center;
  }
  .drop_container {
  position: absolute;
  top: 100%;
  right: 20px;
  z-index: 999;
  background: grey;
  border: 1px solid #ddd;
  padding: 10px;
  display: none;
  }
  .profile_container:hover .drop_container {
  display: block;
  }
  .profile_img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
 }
 .button{
  display: none;
 }
 .drop_down{
  width: 10px;
 }
 .home_page{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
 .header_p {
    font-size: 24px;
    line-height: 2rem;
  }

  .header_con {
    width: 100%;
    padding: 4rem 16px 0;
  }

  .header_img {
    width: 30%;
    right: 0px;
  }
  .speciality_not {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 100%;
  }
  .speciality_img {
    width: 45%;
  }

  .doctors_pro {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_Cont {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer_notes_c{
  display: none;
  }
  .Banner_con {
    flex-direction: column;
    width: 100%;
  }

  .Banner_img {
    position: static;
    width: 100%;
    height: auto;
  }

  .Banner_butt {
    width: 100%;
  }
  .Doctors_Dash{
    display: none;
  }
  .Doc_info{
    flex-direction: column;
    gap: 13px;
  }
  .Doc_img{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid gray;
  }
  .Doc_img_con{
    height: fit-content;
  }
  .Doc_notes{
    max-width: 100%;
  }
  .Doc_about{
   text-indent: 1px;
  }
  .Doc_about_p{
   text-align: center;
  }
  .Booking_slots{
    gap: 1rem;
  }
  .Date_Solt{
    display: flex;
    justify-content:start;
    align-items: center;
    text-align: center;
    max-width: 250px;
    gap: 8px;
    cursor: pointer;
    overflow-x: auto;
  }
  #Date_Solts{
    min-width: 75px;
  }
  .Time_Solt{
    max-width: 250px;
    align-items:  start;
  }
  #Time_Solts{
    min-width: 65px;
  }
  .About_content,
  .Contact_content {
    flex-direction: column;
    gap: 1.5rem;
  }

  .About_paragraphs,
  .Contact_paragraphs {
    max-width: 100%;
  }
  .Why-us_con{
  flex-direction: column;
  gap: 0.6rem;
  }
  
}


